/* Variabes */
/* Mixin's */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    display: flex; justify-content: center; align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins';
  }
    
  #seconds, #tens {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn-success, .btn-danger, .btn-warning {
    margin: 3px;
  }
  
  

